<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i class="fa fa-money" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <template v-if="childDataLoaded">
            <room-form :room="room" roomBtnTitle="Update Room"
                           @room-is-created-updated="updateRoom"></room-form>
          </template>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
    import rser from '@/services/roomservices'
    import RoomForm from '@/components/RoomForm'


    export default {
        data () {
            return {
                room: {},
                childDataLoaded: false,
                temp: {},
                messagetitle: ' Update Room '
            }
        },
        components: {
            'room-form': RoomForm
        },
        created () {
            this.getRoom()
        },
        methods: {
            getRoom: function () {
                rser.fetchRoom(this.$router.params)
                    .then(response => {
                        this.temp = response.data
                        this.room = this.temp[0]
                        this.childDataLoaded = true
                        console.log('Getting Room in Edit: ' + JSON.stringify(this.room, null, 5))
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            },
            updateRoom: function (room) {
                console.log('Before PUT ' + JSON.stringify(room, null, 5))
                rser.putRoom(this.$router.params, room)
                    .then(response => {
                        console.log(response)
                        console.log('AFTER PUT ' + JSON.stringify(room, null, 5))
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>

