<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i class="fa fa-money" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <room-form :room="room" roomBtnTitle="Modify Room"
                         @room-is-created-updated="submitRoom"></room-form>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
    import rser from '@/services/roomservices'
    import RoomForm from '@/components/RoomForm'

    export default {
        data () {
            return {
                room: {roomtype: 'twin room', price: 0,  roomNumber: 0, available: 'available', message: ''},
                messagetitle: ' New Room '
            }
        },
        components: {
            'room-form': RoomForm
        },
        methods: {
            submitRoom: function (room) {
                rser.postRoom(room)
                    .then(response => {
                        console.log(response)
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>