<template>
  <form @submit.prevent="submit">
    <div class="form-group">
      <label class="form-label">Select Room Type</label>
      <select id="roomtype" name="roomtype" class="form-control" type="text" v-model="roomtype">
        <option value="null" selected disabled hidden>Choose room Type</option>
        <option value="single">single room</option>
        <option value="twin">twin room</option>
        <option value="King">KingBedRoom</option>
        <option value="suite">suite</option>
        <option value="luxury">Luxury Suite</option>
      </select>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.price.$error }">
      <label class="form-control-label" name="price">Price (Enter a number between 1 and 1000)</label>
      <input class="form__input" type="decimal" v-model.trim="price"/>
    </div>
    <div class="error" v-if="!$v.price.between">Price must be between 1 and 1000</div>
    <div class="form-group" :class="{ 'form-group--error': $v.roomNumber.$error }">
      <label class="form-control-label" name="roomNumber">Room number (Enter a number between 1 and 1000)</label>
      <input class="form__input" type="decimal" v-model.trim="roomNumber"/>
    </div>
    <div class="error" v-if="!$v.roomNumber.between">Room number must be between 1 and 1000</div>
    <div class="form-group">
      <label class="form-label">Select available</label>
      <select id="available" name="available" class="form-control" type="text" v-model="available">
        <option value="null" selected disabled hidden>Choose available</option>
        <option value="avail">available</option>
        <option value="unavail">unavailable</option>
      </select>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.message.$error }">
      <label class="form__label">Room Message</label>
      <input class="form__input" v-model.trim="$v.message.$model"/>
    </div>
    <div class="error" v-if="!$v.message.required">Message is Required</div>
    <div class="error" v-if="!$v.message.minLength">Message must have at least {{$v.message.$params.minLength.min}} letters.</div>
    <p>
      <button class="btn btn-primary btn1" type="submit" :disabled="submitStatus === 'PENDING'">Submit</button>
    </p>
    <p class="typo__p" v-if="submitStatus === 'OK'">Successful!</p>
    <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
    <p class="typo__p" v-if="submitStatus === 'PENDING'">Submitting...</p>
  </form>
</template>

<script>
    import Vue from 'vue'
    import VueForm from 'vueform'
    import Vuelidate from 'vuelidate'
    import { required, minLength, between } from 'vuelidate/lib/validators'

    Vue.use(VueForm, {
        inputClasses: {
            valid: 'form-control-success',
            invalid: 'form-control-danger'
        }
    })

    Vue.use(Vuelidate)

    export default {
        name: "RoomForm",
        data () {
            return {
                messagetitle: ' Modify Room ',
                message: this.room.message,
                roomtype: this.room.roomtype,
                price: this.room.price,
                roomNumber: this.room.roomNumber,
                available: this.room.available,
                submitStatus: null
            }
        },
        validations: {
            message: {
                required,
                minLength: minLength(5)
            },
            price: {
                required,
                between: between(1, 1000)
            },
            roomNumber: {
                required,
                between: between(1, 1000)
            }
        },
        methods: {
            submit () {
                console.log('submit!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'
                    setTimeout(() => {
                        this.submitStatus = 'OK'
                        var room = {
                            roomtype: this.roomtype,
                            price: this.price,
                            roomNumber: this.roomNumber,
                            available: this.available,
                            message: this.message
                        }
                        this.room = room
                        console.log('Submitting in RoomForm : ' +
                            JSON.stringify(this.room, null, 5))
                        this.$emit('room-is-created-updated', this.room)
                    }, 500)
                }
            }
        }

    }
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }
  .donate-form .form-control-label.text-left{
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }
  .typo__p {
    width: 540px;
    font-size: x-large;
  }
  .btn1 {
    width: 300px;
    font-size: x-large;
  }
  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>

