<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div id="app1">
      <v-client-table :columns="columns" :data="rooms" :options="options">
        <a slot="edit" slot-scope="props" class="fa fa-edit fa-2x" @click="editRoom(props.row._id)"></a>
        <a slot="remove" slot-scope="props" class="fa fa-trash-o fa-2x" @click="deleteRoom(props.row._id)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
    import rser from '@/services/roomservices'
    import Vue from 'vue'
    import VueTables from 'vue-tables-2'

    Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

export default {
  name: 'Rooms',
  data () {
    return {
        messagetitle: ' Rooms List ',
        donations: [],
        errors: [],
        columns: ['_id', 'roomtype', 'price', 'roomNumber', 'available'],
        options: {
            perPage: 10,
            filterable: ['roomtype', 'price', 'roomNumber', 'available'],
            sortable: ['roomNumber'],
            headings: {
                _id: 'ID',
                roomtype: 'Room Type',
                price: 'Price',
                roomNumber: 'Room Number',
                available: 'Available'
            }
        }
    }
  },
    created () {
        this.loadRooms()
    },
    methods: {
        loadRooms: function () {
            rser.fetchRooms()
                .then(response => {
                    // JSON responses are automatically parsed.
                    this.rooms = response.data
                    console.log(this.rooms)
                })
                .catch(error => {
                    this.errors.push(error)
                    console.log(error)
                })
        },
        editRoom: function (id) {
            this.$router.params = id
            this.$router.push('edit')
        },
        deleteRoom: function (id) {
            this.$swal({
                title: 'Are you totaly sure?',
                text: 'You can\'t Undo this action',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'OK Delete it',
                cancelButtonText: 'Cancel',
                showCloseButton: true
                // showLoaderOnConfirm: true
            }).then((result) => {
                console.log('SWAL Result : ' + result.value)
                if (result.value === true) {
                    rser.deleteRoom(id)
                        .then(response => {
                            // JSON responses are automatically parsed.
                            this.message = response.data
                            console.log(this.message)
                            this.loadRooms()
                            // Vue.nextTick(() => this.$refs.vuetable.refresh())
                            this.$swal('Deleted', 'You successfully deleted this room ' + JSON.stringify(response.data, null, 5), 'success')
                        })
                        .catch(error => {
                            this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
                            this.errors.push(error)
                            console.log(error)
                        })
                } else {
                    console.log('SWAL Else Result : ' + result.value)
                    this.$swal('Cancelled', 'Your room still Counts!', 'info')
                }
            })
        }
    }
}
</script>

<style scoped>
  #app1 {
    width: 60%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
